<!DOCTYPE html>
<html version="1.0.0">
    <head>
        <title>Заказы</title>
        <meta charset="UTF-8">
        <meta name="description" content="Это апи для сервиса по заказу такси. Сделать сегодня!">
    </head>
    <body>
        <form method="POST">
            <p>Откуда</p>
            <p><input type = 'text' name='from'/></p>
            <p>Куда</p>
            <p><input type = 'text' name='to'/></p>
            <p><input type = 'submit' value='Добавить заказ' name='add_order'/></p>
        </form>
    </body>
</html>